
.aboutMe{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
}

html,body, #page4,#page2,#page3 {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  font-size: 28px;
  background-color: #333;
}

.contact{
    width:80%;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}

.center-div
{
  margin: 0;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.hideMe{
  visibility: hidden;
}

.content {
  padding: 16px;
}

h2{
  width: 100%;
  font-size: 500%;
}

#page3{
  /* padding-top: 100px;
  width: 100%;*/
  height: auto;
  background-color: white;
}

#page2{
  /* width: 100%;
  height: auto;
  background-color: #333; */
  color:white;
}
#page4{
  /* height: auto;;
  width: 100%;

  background-color: #333; */
  color:white;
}

.header {
  background-color: #333;
  position: fixed;
  color: white;
  bottom:50%;
  right:25%;
  text-align: center;
}
#headNav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}



#navbar {
  overflow: auto;
  background-color: #333;
}

#navbar a {
  float: right;
  vertical-align: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar,headNav a:hover {
  background-color: #333;
  color: black;
}

#navbar,#headNav a.active {
  background-color: #333;
  color: white;
}

.resume{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    margin-top: 150px;
    margin-bottom: auto;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 10px;
}

table.that{
  width: 60%;
}

/* table.this tr{
  padding-top: 200px;
  padding-bottom: 20px;
} */

table.borderless td,table.borderless th{
  padding-top: 50px;
  border: none !important;
  align-content: center;

}

#title{
color:#00ccff;
font-style:italic;
font-weight: bold;
}

li{
  list-style: none;
  padding: 10px;
}

br{
  padding-top: 20px;
}
#left{
  float:left;
}

#right{
  float: right;
}

#resBod{
  text-align: left;
}

#centMe{
  text-align: center;
}

#what{
  font-style: italic;
  font-size: 80%;
}
